<h1>About me</h1>
<p>Name: Hoang Phuong Thuy</p>
<p>Student ID: 141035196</p>
<p>Traveling is my other passion. Whenever I have an opportunity to visit a new place, whether a village, city, mountain or seaside, I never miss it. It is so thrilling to see a new place and meet different kind of people. Whenever I travel round a new place, I take my camera and shot interesting pictures of people, building, monuments, bazaar etc. It gives me immense satisfaction and pleasure. Though these hobbies are expensive, I love them.</p>